.sidebar {
  background-color: #eee;
  padding-top: 40px;
  padding-left: 30px;
}

.nav-link {
  margin: 0;
  padding: 3px !important;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.navbar-nav {
  padding-left: 25px;
}